 <link href="assets/css/bootstrap.css" rel="stylesheet" />
   <script src="js/bootstrap.min.js"></script>
                   <li>
                        <a href="../index.php"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
          
                     <li>          
                        <a href="../detectionCnt.php"><i class="fa fa-home"></i> Detection Graph</a> 
                    </li>
                        
                    <li>
                        <a href="../log.php"><i class="fa fa-edit"></i> Transactions Log </a>
                    </li>
                    <li>
                        <a href="create.php"><i class="fa fa-users"></i> Registration Users</a>
                    </li>
                      <li align='left'>
                        <a href="user.php" <?php echo $style; ?> ><i class="fa fa-users"></i> User Mgmnt</a>
                    </li>
                       <li align='left' >
                        <a href="../realtime.php" <?php echo $style; ?> ><i class="fa fa-users"  ></i> Realtime</a>
                    </li>
                          <li align='left'>
                        <a href="../logout666.php"><i class="fa fa-users"></i> Logout</a>
                    </li>