/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*COMMON  STYLES*/
body {
    font-family: 'Open Sans', sans-serif;
  background-color: #283643;
}

 #wrapper {
    width: 100%;
    background: #283643;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 580px;
    /*kat sini*/
	background: #ffffff;
	
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.panel{
border-radius:0px;
}
.navbar-side .nav > li > a > i{
color: #FFFFFF;
padding: 8px;
width: 30px;
text-align: center;
}
.top-navbar{
position: fixed;
  width: 100%;
  z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
.navbar-side {
  z-index: 1;
  position: fixed;
  width: 200px;
  top: 70px;
}
#page-wrapper {
  position: relative;
  top: 55px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #2497BA;
color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #18A88B;
border-color: #18A88B;
}
.breadcrumb {
padding: 18px;
margin-bottom: 20px;
list-style: none;
background-color: #FFFFFF;
border-radius: 0;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);    
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
.dropdown-menu>li>a i {
  color: #1CC09F;
}
.text-muted {
  color: #FB5651;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #1CC09F;
  border-radius: 10px;
}
/*MENU STYLES*/


.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {
color: #fff;
width: 200px;
text-align: left;
height: 60px;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
line-height: 30px;
background: #0099FF;
}
.navbar-brand b{
color: #0099FF;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 20px;
color: #0099FF;
margin: 0px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #0099FF !important;
background: transparent;
}
.active-menu {
    background-color: #0099FF !important;
    color: #fff !important;
}
.active-menu i{
color: #fff !important;
}
.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li a {
    padding-left: 37px;
}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color: #FFFFFF;
	background:transparent;
	text-shadow:none;
	
}
.sidebar-collapse > .nav > li > a {
	padding: 12px 12px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
ul.nav.nav-second-level.collapse.in {
background: #17191B;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	 
	outline:0;
}
 
.navbar-side {
	border:none;
	background-color: rgb(50, 60, 70);
	
}
.top-navbar {
	background: #FFFFFF;
	border-bottom:none;
	
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover { 
color: #FFFFFF;

background-color: rgb(43, 46, 51);
}
.dropdown-user li {
margin: 8px 0;
}
.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #283643;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
    color: #FFF;
}
.dropdown-menu>li>a>strong {
  color: #1CC09F;
  padding: 5px 0;
  display: inline-block;
  font-weight: 500;
}
#sideNav{
    position: absolute;
    z-index: 9;
	right: -24px;
    padding: 18px 9px;
    top: -1px;
    color: #FFFFFF;
	cursor:pointer;
	background-color: #0099FF;
}

/* UI ELEMENTS STYLES */
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*MEDIA QUERIES*/
 
 @media(min-width:500px) {
     #page-wrapper{
               margin: 0 0 0 200px;
        padding: 15px 10px;
        
               min-height: 1000px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        width: 200px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}
 @media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
.panel-left {
  width: 85px;
  height: 85px;
  background: #FB6262;
  border: 2px solid white;
  border-radius: 100%;
  overflow: hidden;
  margin: 14px;
}
}


